<div class="card">
  <div class="card-header">
    {{titulo}}
  </div>
  <div *ngIf="cursos && cursos.length > 0" class="card-body">
    <div class="row filtro">
      <div class="col-md-2">Filtrar por:</div>
      <div class="col-md-6">
        <input #filtro type="text" [(ngModel)]="textoFiltro">
        <span>{{textoFiltro}}</span>
      </div>
    </div>
    <div>
      <table class="table">
        <thead>
          <th>Logo</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Fecha de inicio</th>
          <th>Precio</th>
          <th>Rating</th>
          <th>Acciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let curso of cursosFiltrados">
            <td>
              <img [src]="curso.imageUrl" [style.width]="anchoImagen" [title]="curso.name">
            </td>
            <td>{{curso.name}}</td>
            <td [innerHTML]="curso.description"></td>
            <td>{{curso.startDate}}</td>
            <td>{{curso.price}}</td>
            <td>{{curso.rating}}</td>
            <td>
              <ed-course-action [curso]="curso"
                                (edit)="onEditCurso($event)"
                                (delete)="onDeleteCurso($event)">
              </ed-course-action>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- <div *ngIf="!cursos || cursos.length === 0" class="alert alert-info p-2 mt-3" role="alert">
    <span>No hay cursos disponibles en este momento. Intente más tarde.</span>
  </div> -->
  <div *ngIf="mensajeError" class="alert alert-danger" role="alert">
    {{mensajeError}}
  </div>
</div>

<!-- ngSwitch directive -->
<!-- <div [ngSwitch]="dia">
  <p *ngSwitchCase="'lunes'">Iniciando la semana</p>
  <p *ngSwitchCase="'martes'">Vamos que se puede</p>
  <p *ngSwitchCase="'miercoles'">Media semana</p>
  <p *ngSwitchCase="'viernes'">Ya llega el fin de semana</p>
  <p *ngSwitchDefault>Un día radiante</p>
</div> -->
